<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sanakirja-web</title>
     <style>
        h1 {
            text-align: center;
        }
        body {
            font-size: 22px;
            float: center;
            margin: auto;
        }
        .word-search-container {
            background-color: lightgray;
            padding: 1.5rem;
            width: 400px;
            margin:auto;
        }
        .word-add-container {
            background-color: lightgray;
            padding: 1.5rem;
            width: 400px;
            margin:auto;
            margin-top: 1.5rem;
        }
     </style>
</head>
<body>
    <h1>{{title}}</h1>
    <!--- Search word --->
    <div class="word-search-container">
        <label for="word-search">Etsi sanaa:</label><br>
        <input type="text" id="word-search" maxlength="39" size="39">
        <button onclick="getWord()">Etsi sanakirjasta</button>
        <p id="show-word">---</p>
    </div>

    <!--- Add word --->
    <div class="word-add-container">
        <p>Erota suomen ja englannin kielinen sana välilyönnillä.
            Syötteen tulee olla vähintään 4 merkkiä pitkä ja sisältää välilyönti
        </p>
        <label for="word-add">Lisää sana:</label><br>
        <input type="text" id="word-add" maxlength="39" size="39">
        <button onclick="addWord()">Lisää sanakirjaan</button>
        <p id="show-response">---</p>
    </div>
    <script>
        const showWordField = document.getElementById('show-word')
        const findWordField = document.getElementById('word-search')

        const addWordField = document.getElementById('word-add')
        const showResponseField = document.getElementById('show-response')
        
        async function addWord() {
            const response = await fetch('/uusisana/', {
                method: 'POST',
                headers: {
                Accept: 'text/plain',
                'Content-Type': 'text/plain'
                },
                body: addWordField.value
            })

            const data = await response.text()
            
            if (response.status === 201) {
                showResponseField.style.color = "green"
                showResponseField.innerText = "Sana lisätty onnistuneesti"
            } else if (response.status === 400) {
                showResponseField.style.color = "red"
                showResponseField.innerText = "Sanaa lisättäessä tapahtui virhe! Tarkista syöte."
            }
            return data
        }

        async function getWord() {
            const response = await fetch('/haesana/'+findWordField.value.trim(), {
                method: 'GET',
                headers: {
                'Content-Type': 'application/json'
            }
            })
            const data = await response.text()
                
            if (response.status === 200) {
                showWordField.style.color = "green"
                showWordField.innerText = data.trim()
            } else if (response.status === 404) {
                showWordField.style.color = "red"
                showWordField.innerText = "Sanaa ei löytynyt sanakirjasta"
            } 
        }
    </script>
</body>
</html>